@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunrm-webfont.woff");
}

@font-face {
  font-family: "Computer Modern Serif Bold";
  src: url("cmunbx-webfont.woff");
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("cmuntt-webfont.woff");
}

$body-font-family: "Computer Modern Serif", Georgia, 'Times New Roman', Times, serif;
$mono-font-family: "Computer Modern Typewriter", monospace;